.cj2 {
  height: 70vh;
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
}
.week-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 44vh;
  gap: 40px;
}
.arrow-down {
  font-size: 32px;
  margin-top: 20vh;
  text-align: center;
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 570px) {
  .cj2 {
    height: 60vh;
    left: -200px;
  }
}
